.homeMain{
        height: auto;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 1.5em;
            font-weight: bold;
            flex-direction: column;
 
            img{
                    width: 400px;
                    height: 400px;
     }       
    }